@import '../../styles/variables.scss';

.list {
  background-image: linear-gradient(to right bottom, rgba(black, .2), rgba(black, .7));
  padding: 3.5rem;
  border-radius: 3rem;
  border: 2px solid $primary-font-color;
}

.list__header {
  font-size: 1.75rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: solid 2px $primary-font-color-dark;
}
.list__content {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.list__unordered-list {
  list-style: none;
}

.list__item {
  font-size: 1.75rem;
  padding: 1rem;
  transition: all .5s;
  &:hover {
    color: lightgoldenrodyellow;
    background: $primary-color-light;
    transform: skewX(-15deg);
    cursor: pointer;
  }
  &:active {
    transform: skewX(-15deg) scale(.9);
  }

}