@import 'styles/variables.scss';
@import 'styles/base.scss';

.app {
  height: 100vh;
  background-image: linear-gradient(to right bottom, $primary-color-dark 75%, $primary-color-light 25%);
  color: $primary-font-color;
}

.alt-app {
  height: 100vh;
  background-image: linear-gradient(to right bottom, $alt-primary-color-dark 75%, $alt-primary-color-light 25%);
  color: $primary-font-color;
}

.alt-heading {
  display: inline-block;
  width: 500px;
  font-size: 2rem;
  padding: 2rem;
  clip-path: polygon(0 0, 100% 0, 75% 100%, -25% 100%);
  background: $alt-primary-color-light;
}
.heading {
  display: inline-block;
  width: 500px;
  font-size: 2rem;
  padding: 2rem;
  clip-path: polygon(0 0, 100% 0, 75% 100%, -25% 100%);
  background: $primary-color-light;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.alt-mode-button {
  position: absolute;
  right: 100px;
  top: 10px;
  border: 1px solid $primary-font-color;
  padding: 1rem;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
    background: $primary-font-color-dark;
  }
}