@import 'styles/variables.scss';
@import 'styles/base.scss';

.app {
  height: 100vh;
  background-image: linear-gradient(to right bottom, $primary-color-dark 75%, $primary-color-light 25%);
  color: $primary-font-color;
}
.heading {
  display: inline-block;
  width: 500px;
  font-size: 2rem;
  padding: 2rem;
  clip-path: polygon(0 0, 100% 0, 75% 100%, -25% 100%);
  background: $primary-color-light;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}